.hero{
    background-image: url(/images/newsone.png);
    margin-top: -20px;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    
    

position: relative;


}


.hero::after {
    position: relative;
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.422);
    z-index: 1;
    
}

.heroinfo{
  position: absolute;
    padding-left: 100px;
    padding-top: 200px;
   
z-index: 2;
color: white;
   width: 820px;
   margin: 0 auto;
}

.heroinfo h1{
    font-size: 40px;
    font-style: bold;
    text-transform: uppercase;
}
.block1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;


}
.box1{
    
    width: 200px;
transition: all .3s ease;
}
.box1:hover{
transform: scale(1.1);

}
.box1 img{
    width: 100%;
    object-fit: cover;
}
.box1 div{
display: flex;
justify-content: center;
gap: 10px;
color: white;
}
.s1title{
    font-size: 20px;
    padding: 30px;
}

.sc1info{
    padding: 80px;
    width: 700px;
}
.sc1info h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.sc1info p{
    line-height: 30px;
   margin-bottom: 20px;
}
.sc1info button{
    border: 3px solid rgb(145, 30, 30);
    padding: 15px 15px;
    transform: scale(1.1);
    background-color: transparent;
}
.sc1info button:hover{
    background-color: rgb(176, 37, 37);
    color: white;
    transition: all .3s ease;
}

.section2{
    padding-top: 20px;
}
.picture1{
    display: flex;
color: white;
}
.picinfo{
    padding: 30px;
    background-color: rgba(60, 144, 208, 0.884);
    width: 600px;
}

.picinfo h1{
    font-size: 45px;
margin-bottom: 20px;
}
.picinfo p{
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 23px;
}

.picinfo button{
    background-color: transparent;
    border: 4px solid white;
    padding: 10px 20px;
    transition: all .3S ease;
    border-radius: 15px;
    color: white;
}
.picinfo button:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}

.picimg{
    width: 600px;
}
.picimg img{
    width: 100%;
}
.pic2{
    background-color: orange;
    margin-top: -4px;
}

.picture2{
    padding: 30px 0px;
   
}
.picture2 img{
    width: 1200px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 30px;

}
.card{
    width: 350px;
    height: 500px;
    border: 1px solid black;
    padding: 20px;
    background-color: rgba(171, 182, 192, 0.45);
    transition: all .3s ease;
}
.card:hover{
    transform: scale(1.1);
}
.card p{
    margin-bottom: 20px;
}

.card h2{
    margin-bottom: 20px;
}
.news{
    margin-bottom: 200px;
}

.readmore{
margin-top: 170px;
border-top: 2px solid black;

}

.readmore button{
    border: none;
    background-color: transparent;
}

.more{
    margin: 0 auto;
    text-align: center;
    padding: 30px 0px;

}
.more button{
    padding: 15px 25px;
    border: 4px solid black;
    background-color: transparent;
    transition: all .3s ease;
    border-radius: 10px;
}
.more button:hover{
    transform: scale(1.1);
background-color: black;
color: white;
}